table{
  
    height: 600px;
    width: 600px;
    
    
}
td{
    padding: 0px;
}

div{
    background-color: cadetblue;
    width: 0px;
    height: auto;
    

}
div:hover{
    border-style: solid;
    border-width: 70px;
    border-color: orange blue green red;

}